.container {
  margin: 8pc 13pc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 640px) {
  /* أو أي حجم شاشة صغير تريده */
  .container {
    display: flex;
    flex-direction: column;
    items-align: center;
    gap: 80px;
    margin: 5pc 0pc;
  }
}
