.container {
  margin: 1pc 11pc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 640px) {
  /* أو أي حجم شاشة صغير تريده */
  .container {
    margin: 1pc;
  }
}
