.product {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  margin: 2pc 11pc;
}

@media (max-width: 640px) {
  /* أو أي حجم شاشة صغير تريده */
  .product {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    margin: 1pc;
  }
}
