.divText {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Paragraph {
  font-weight: bold;
  font-size: 17px;
}

@media (max-width: 640px) {
  /* أو أي حجم شاشة صغير تريده */
  .Paragraph {
    font-size: 13px;
  }
}
